body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background:url(../img/contents_bg01.jpg);
  margin: 0 0 10px;
}

header{
  height: 50px;
  width: 100%;
  top: 0px;
  background-color: rgba(65, 105, 255, 0.8);
}

/*.header_left{
  float: left;
  margin-left: 20px;
}
*/

ul {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

ul > li {
  margin-bottom: 7px;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li {
  background-color: #fff;
  transition: background-color .5s;
}

li:hover {
  background-color: gold;
}

li:active {
  background-color: gold;
}

#wrapper {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.title{
  color: white;
  font-size: 20px;
  line-height: 50px;
  float: left;
  margin-left: 20px;
}

.container {
  width: 750px;
  margin: 30px auto 120px auto;
  padding: 50px;
  background-color: white;
}

.theme {
  color: blue;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.answer {
  border: 1px solid #ddd;
  padding:12px 12px 6px 12px;
}
/*.section {
  border: 1px solid #ddd;
}*/

footer{
  height: 50px;
  width: 100%;
  background-color: rgba(65, 105, 255, 0.8);
  color:white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  padding-top: 15px
}
